.container {
    display: flex;
    height: 150px;
    width: 500px;
    background: aqua;
    margin: auto;
}

img {

    width: 80px;
    height: 100px;
    margin-top: 38px;
    padding-left: 10px;

}

.message {
    position: relative;
    width: 350px;
    height: 125px;
    margin-left: 35px;
    margin-top: 10px;
    border: #282c34 solid 1px;
    background: #282c34;
    border-radius: 11px 11px 11px 0px;


}

div.message:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    top: 106px;
    border: 20px solid;
    border-color: transparent transparent transparent #282c34;
    transform: rotate(45deg);
}

.name {

    float: left;
    margin-left: 1vw;
    margin-top: 2vh;
    font-size: 26px;
    color: mediumorchid;
}

.text {
    clear: left;
    float: left;
    margin-left: 1vw;
    margin-top: 1.5vh;
    font-size: 18px;
    color: beige;

}
.time {
    /*float: right;*/
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 0.5vw;
    color: chartreuse;
}
