.default {
    margin-bottom: 3px;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 18px;
    background-color: lightgrey;
}

.default:hover {
    background-color: darkgray;
}
.default:active {
    background-color: aliceblue;
}


.red {
    margin-bottom: 3px;
    padding: 3px 5px;
    border-radius: 5px;
    background: red;
    font-size: 18px;
}
.red:hover {
    background-color: firebrick;
    color: red;
}
.red:active {
    background-color: tomato;
    color: firebrick;
}

