
.error {
    border: 1px solid red;
}



/*.textError {*/
/*    position: fixed;*/

/*    left: 308px;*/
/*    padding: 5px;*/
/*}*/

.containerError {
    position: absolute;
    left: 100px;
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: lightpink;
    opacity: 0.9;
    white-space: pre;
    color: firebrick;
}

.users {
    width: 150px;
    margin: 5px;
    padding: 10px;
    border: 1px solid yellowgreen;
    border-radius: 5px;
}


.altContainer {
    position: relative;
    width: 600px;
    height: 270px;
    margin: 0px auto;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;

}

.inputCheckbox {
    width: 20px;
}

input {
    width: 100px;
    margin: 0 5px;
    border-radius: 5px;
}

.ageInput input {
    width: 20px;
    margin: 0 18px;
}

.altContainer h2 {
    color: red;
}
.text {
    margin-bottom: 5px;
    white-space: pre;
}

.groupUsers {
    position: absolute;
    border: 1px solid slategrey;
    background-color: aliceblue;
    padding: 5px;
}

.myAlertContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    opacity: .9;
}

.myAlert {



    height: 55px;
    padding: 5px;
    margin: 100px 50px;
    border: 5px solid turquoise;
    border-radius: 5px;
    background-color: slategrey;
    color: white;
    white-space: pre;

}

.myAlert button {
    opacity: 1;
}
.altError {
    position: absolute;
    left: 30px;
    bottom:60px;
}



